{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ mineral.name }}{% endblock %}

{% block content %}
<div class="grid_100 mineral__container">
    <h1 class="mineral__name">{{ mineral.name }}</h1>
    <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static image_filename %}">
        <p class="mineral__caption">{{ mineral.caption }}</p>
    </div>
    <div class="mineral__table-container">
        <table class="mineral__table">
            {% for attribute in mineral.attribute_set.all %}
            <tr>
                <td>{{ attribute.name|title }}</td>
                <td>{{ attribute.content }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
